body{
  background-color: #1e1e1e;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 50px;
}
.wrap{
  background: #e6e6e6;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
 
  width: 300px;
  height: 500px;
 
  border-radius: 16px;
}

.row1{
  display: flex;
}
.App{
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .wrap {
    width: 80%;   
    height: auto; 
  }
}
@media (max-width: 480px) {
  .wrap {
    width: 90%;   
    height: auto;
    border-radius: 12px; 
  }
}